<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>




<h1 th:if="${accounts.accountName != null}" ><span th:text="${accounts.accountName}"></span></h1>
<h1 th:unless="${accounts.accountName != null}" ><span th:text="' Account #'+${counter}"></span></h1>
	<form action="" method="post">
	<div th:if="${accounts.accountName != null}">
	Account Name: <input type="text"  th:field="${accounts.accountName}" th:value="'Account # ' + ${counter}" >
	</div>
	
	<div th:unless="${accounts.accountName != null}">
	
	Account Name: <input type="text" th:id="${accounts.accountName}"  th:name="accountName" th:value="'Account # ' + ${counter} " >

	</div>
	
	<input type="submit" value="Save Account">
	
	</form>
	<a th:href="@{/users}">Back</a>


</body>
</html>